.app-dropdown {
    background none;
    border none
    display flex
    align-items center
    gap 8px
    &:hover {
        cursor pointer
    }
    &-content {
        text-align center !important
    }
}
    .p-popover::after {
        display: none !important;
		width: 0 !important;
		height: 0 !important;
    }
	.p-popover::before {
        display: none !important;
		width: 0 !important;
		height: 0 !important;
    }
	.p-popover::after {
        display: none !important;
		width: 0 !important;
		height: 0 !important;
    }
.hasBorder{
    border: none !important
}