.app-button {

    &-primary {
        background var(--primary-color) !important
        border-color var(--primary-color) !important
    }
    &-stock {
        background none !important
        color inherit !important
        border none !important
    }
    &-custom {
        background inherit !important
        color inherit !important
        border inherit !important
    }
}